<!DOCTYPE html>
<html lang="en">
<head>
  <title>rogocorp</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <script src="http://localhost:8686/webpack-dev-server.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/simple-sidebar.css">
</head>
<body>


  <div id="main"></div>

  <script src="/js/socket.io.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="http://localhost:8686/bundle.js"></script>

</body>
</html>