<html>
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/shared-app-style.css">
  <style>
  .vertical-offset-100{
      padding-top:100px;
  }  
  </style>
</head>
<body>

  <div class="container">
    <div class="row vertical-offset-100">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <form accept-charset="UTF-8" role="form" method="post" action="/authenticate">
              <fieldset>
                <div class="form-group">
                  <input class="form-control" placeholder="E-mail" name="user[email]" type="text">
                </div>
                <div class="form-group">
                  <input class="form-control" placeholder="Password" name="user[password]" type="password" value="">
                </div>
                <div class="checkbox">
                  <label>
                    <input name="user[remember]" type="checkbox" value="Remember Me"> Remember Me
                  </label>
                </div>
                <input class="btn btn-danger" type="submit" value="Login">
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>